* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f4f4f4;
}

.general-container {
  display: flex;
}

.error-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  min-width: 300px;
}

.error h2 {
  text-align: center;
}

.error-message {
  margin-top: 2rem;
}

.error-message .general {
  color: red;
}

.error-message .line {
  font-size: 0.9rem;
}

.error-container .content {
  margin-top: 0.3rem;
}

.error-container .filename {
  display: flex;
  justify-content: flex-end;
}

.source-code-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
}

.source-code-container span {
  padding: 0.2rem;
  font-family: system-ui;
  font-size: 1rem;
}

.error-line-container {
  display: flex;
}

.error-line-container .line-number {
  background: #000;
  color: #adadad;
  text-align: right;
  min-width: 5ch;
  padding-right: 0.5ch;
}

.error-line-container .error-line {
  font-weight: 500;
}

.line-number.active {
  color: #fff;
}

.error-line-container .html {
  width: 100%;
}
.error-line {
  background: #d8d8d8;
}

.github {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.github button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.github svg {
  width: 20px;
}

.tips p {
  font-size: 0.8rem;
  margin-top: 0.1rem;
}

/* RESIZE */
.resize-handle {
  top: 0;
  position: absolute;
  width: 6px;
  height: 100%;
  z-index: 2;
  cursor: w-resize;
}
.resize-handle.left:hover,
.resize-handle.right:hover {
  background-color: #72bdff47;
  transition: 0.4s background-color;
}
.resize-handle.left {
  left: -3px;
  border-radius: 0.5rem;
}
.resize-handle.right {
  right: -3px;
  border-radius: 0.5rem;
}
